* {
  margin: 0;
  padding: 0;
}

.titles {
  margin: 2rem;
}

#navbar {
  margin: 5px;
}

.img-artist {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

#profile-img {
  margin: 0 2rem;
}
