* {
  margin: 0;
  padding: 0;
}

.titles {
  margin: 2.5rem 0 1.5rem 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.divided-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/* Navbar styles */

#navbar {
  margin: 5px;
}

#nav-image {
  height: 50px;
  width: auto;
}

/* HomePage styles */

#home-image {
  margin-bottom: 1.5rem;
}

.img-artist {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#profile-img {
  margin: 0 2rem;
}

#section-gallery {
  width: 100%;
  margin-bottom: 4rem;
}

#section-first {
  margin-bottom: 2rem;
}

.divided {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.divided-vertical {
  display: flex;
  flex-direction: column;
}

#gallery-btn {
  margin-bottom: 2rem;
}

#home-text {
  font-size: 2.5rem;
  padding: 2rem 3rem 0 2rem;
}

/* AboutPage Styles */
.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gallery styles */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-icon {
  padding: 0;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.single-icon > h5 {
  margin: 0;
}
