* {
  margin: 0;
  padding: 0;
}

#navbar {
  margin: 5px;
}

.titles {
  margin: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.divided-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/* HomePage styles */

#home-image {
  margin-bottom: 1.5rem;
}

.img-artist {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#profile-img {
  margin: 0 2rem;
}

/* AboutPage Styles */
.about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

/* Gallery styles */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-icon {
  padding: 0;
  margin: 0 1rem;
}

.single-icon > h5 {
  margin: 0;
}
